header {
  background-color: #f2f2f2;
  margin: 0;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  margin: 0;
}

.topnav li {
  margin-right: 10px;
}

#login {
  margin-left: auto;
}

#logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo a:hover {
  background-color: #f2f2f2;
}
