h1,
h2,
nav {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.main-img-tagline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 20px;
}

#home-earbuds {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.main-img-tagline h1 {
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0;
  color: white;
}

.main-img-tagline p {
  position: absolute;
  padding-top: 60px;
  padding-left: 20px;
  margin: 0;
  color: white;
}

.main-img-tagline nav {
  position: absolute;
  padding-left: 20px;
  bottom: 30px;
}

.main-img-tagline nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.main-img-tagline nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: rgba(2, 4, 78, 0.9);
  padding: 5px 10px;
}

.three-bestsellers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  padding-right: 0px;
}

.three-bestsellers section {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.bestsellers-home {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s ease-in;
}

.three-bestsellers h2,
.three-bestsellers p {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
}

.three-bestsellers h2 {
  top: 5%;
}

.bestsellers-home:hover {
  transform: scale(1.05);
}
