header {
  margin: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: transform 0.3s ease-out;
  background-color: rgba(2, 4, 78, 0.9);
}

.topnav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

#nav-links {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#logo:hover {
  text-decoration: none;
}

#nav-actions {
  margin-left: auto;
  margin-right: 1rem;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav li {
  margin-right: 10px;
}

.hidden {
  transform: translateY(-100%);
}
