.breadcrumb{
    font-size: 0.9rem;
    color: #555;
    margin: 1rem 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb a{
    text-decoration: none;
    color: #0073e6;
}

.breadcrumb a:hover{
    text-decoration: underline;
}

.category-header{
    padding: 2vh 5%;
    border-bottom: 2px solid #ddd;
    background: #f9f9f9;
}

.category-title{
    font-size: 2rem;
    font-weight: bold;
    color: #363636;
    margin-bottom: 0.5rem;
}

.subcategories{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

/*Maybe for the one that is selected keep it the darker colour*/
.subcategories a{
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;

}

.filter-sort{
    background-color: rgba(2, 4, 78, 0.9);
    color: white;
}

/*grid section for items*/
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 1.5rem;
    padding: 2rem 5%;
    background: #f9f9f9;
}

.product-card {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover{
    transform: translateY(-5px);
}

.product-card img{
    width: 100%;
    border-radius: 5px;
    background: #f1f1f1;
}

.product-price{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.8rem;
}

.product-name{
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
}

.product-tag{
    font-size: 0.8rem;
    color: #e60023;
    font-weight: bold;
    margin-top: 0.3rem;
}