h1,
h2,
nav,
button {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p,
a,
span,
div {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 0.5rem;
  border: 1px solid rgba(2, 4, 78, 0.9);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgba(2, 4, 78, 0.9);
  color: white;
}

button.primary:hover {
  color: rgba(2, 4, 78, 0.9);
  background-color: white;
  font-weight: bold;
  border: 1px solid #0f0f0f;
}

button.secondary {
  background-color: rgba(2, 4, 78, 0.5);
}

button.secondary:hover {
  background-color: rgba(2, 4, 78, 0.9);
  transition: 0.2s;
}

button.slim {
  width: unset;
  padding: 0.5rem 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: unset;
}

.quantity-input {
  width: 1.5rem;
  text-align: center;
  border: 0.07rem solid #363636;
  border-radius: 8px;
  padding: 0.4rem;
  font-size: 1rem;
}

button.danger {
  background-color: #555;
}

button.danger:hover {
  background-color: rgb(202, 0, 0);
}

.card {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
